.title {
  font-style: $font1;
  color: black;
  font-weight: bold;
  text-align: center;

}
.prueba {
  display: flex;
  flex-direction: row;
}
.traslate {
      width: 600px;
      height: 500px;
      text-align: center;
      margin: 30px;
      border-style: double;
}
.buscanos h4 {
  font-style: $font1;
  color: black;
  font-weight: bold;
}