.header-publicidad {
  text-align: center;
  padding: 18px;
  font-family: "Text Me One", sans-serif;
  font-weight: bold;
  &:hover {
    background-color: #e6c895;
  }
}

.header-superior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color: #cc9f51;
  .logo {
    width: 130px;
    height: 130px;
    padding: 10px;
    .titulo-principal {
      font-family: "Text Me One", sans-serif;
      padding: 10px;
      font-size: 50px;
      width: 100%;
    }
  }
  .Contenedor-usuariocarrito {
    display: flex;
    align-items: first baseline;
  }
  .carrito {
    width: 30px;
    left: 30%;
    margin: 10px;
  }
  .Usuario {
    width: 30px;
    left: 30%;
    margin: 25px;
  }
}

.barra-busqueda {
  background-color: #e6c895;
  display: flex;
  justify-content: space-evenly;

  .menu-Desckop {
    background-color: #e6c895;
    width: 100%;
  }

  .menu-Desckop {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }
  }
  .menu-Desckop ul li {
    display: inline-block;
    margin-right: 20px;
  }
  .menu-Desckop ul li {
    margin-right: 0;
  }
  .menu-Desckop ul li a {
    color: black;
    font-family: "Text Me One", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    &:hover {
      transform: translateY(3px);
      background-color: #e6c895;
    }
  }
  .bloque-buscador {
    padding: 10px;
    width: 100%;
  }

  .bloque-buscador2 {
    width: 100%;
    margin-left: 270px;
  }

  #ingresar2 {
    font-weight: bolder;
    padding: 3px 8px 3px 12px;
    border: 2px solid black;
    width: 35%;
  }

  .barra-busqueda,
  .bloque-buscador,
  .bloque-buscador2,
  input,
  placeholder {
    font-family: "Text Me One", sans-serif;
  }

  .boton1 {
    border: 2px solid black;
    padding: 3px 8px 3px 12px;
  }
}

.nav-mobile {
  background-color: #e6c895;
  width: 100%;

}

.nav-mobile ul {
  display: flex;
  justify-content: space-around;
}

.nav-mobile ul li {
  display: inline-block;
  margin-right: 20px;
  }

  .nav-mobile ul li a {
    color: black;
    font-family: "Text Me One", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 20px;
    justify-content: space-around;
    width: 100%;

  
  }

  